/bench/gap_buffer_svelte
/bench/gap_buffer_rust
/bench/gap_buffer_seph
/bench/gap_buffer_automerge

/bench/line_gap_svelte
/bench/line_gap_rust
/bench/line_gap_seph
/bench/line_gap_automerge

/bench/rope_svelte
/bench/rope_rust
/bench/rope_seph
/bench/rope_automerge

/bench/svelte.md
/bench/rust.md
/bench/seph.md
/bench/automerge.md

/tests/compare
